node_modules
temp.pdf

# keys
package-lock.json
serviceKey.js
config.js

# static ignore
static_host/app/doc-thumbnails
!static_host/app/doc-thumbnails/static
static_host/app/docs.json
static_host/ข่าวประชาสัมพันธ์
static_host/announcements.json
static_host/timetables.json
static_host/room-avaib.json
cache/
cache2/